<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" name="XMLConfig" packages="">

    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}.log" >
            <PatternLayout>
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Appender type="Console" name="STDOUT" target="SYSTEM_OUT">
            <Layout type="PatternLayout" pattern="%d %t %level %m%n"/>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Appender>
        <Appender type="Console" name="STDOUT" target="SYSTEM_OUT">
            <Layout type="PatternLayout" pattern="%d %t %level %m%n"/>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="RollingFile" level="info"/>
            <AppenderRef ref="STDOUT" level="debug"/>
        </Root>
    </Loggers>

</Configuration>